body {
    background-color: black;
    min-width: 390px;
}

.App {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}